<div class="menu-dropdown">
    <div class="dropdown">
      <button class="btn btn-menu dropdown-toggle" type="button" id="loginDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        ☰ Menu
      </button>
      <ul class="dropdown-menu" aria-labelledby="loginDropdown">
        <li><a href="/login" id="login-logout-link">Login</a></li>
        <li class="d-none" id="logout-link">
          <a href="#" onclick="logoutUser()">Logout</a>
        </li>
        <li><a href="/products">Products</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>