.form-control {
    border-radius: 20px;
}

.btn-outline-light {
    border-radius: 20px;
}

.custom-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 20px;
}

.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.custom-card .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    object-fit: cover;
}

.custom-card .card-body {
    padding: 20px;
}

.custom-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.custom-card .card-text {
    font-size: 0.95rem;
    color: #6c757d;
    margin-bottom: 15px;
}

.image-link-button img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-link-button img:hover {
    transform: scale(1.05);
}

.image-link-navbar img {
    margin-top: 5px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-link-navbar img:hover {
    transform: scale(1.05);
}

.welcome {
    background-image: url('../images/coffee_background.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome h1 {
    font-size: 4rem;
}

.products img {
    max-width: 100%;
    height: auto;
}

.custom-btn {
    background-color: #7d9a72;
    color: #fff;
}

.menu-dropdown {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

.dropdown-toggle::after {
    display: none;
}

.btn-menu {
    background-color: transparent;
    color: #333;
    border-radius: 50px;
    padding: 8px 16px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
}

.btn-menu:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.btn-menu:focus {
    background-color: #333;
    color: #fff;
}

.dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
}

.dropdown-menu a {
    padding: 10px 20px;
    display: block;
    color: #333;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.dropdown-menu a:focus {
    background-color: transparent;
}