<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login_styles.css">
    <title>Login - Coffee E-Shop</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="login-form">
            <h1>Welcome Back!</h1>
            <p>Log into your coffee paradise.</p>
            <form id="loginForm">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" maxlength="30" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" maxlength="30" required>
                </div>
                <button type="submit">Log In</button>
                <div class="error-message" id="error-message"></div>
            </form>
            <p class="footer-text">Don't have an account? <a href="/register">Sign up</a></p>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Submit form via jQuery
            $('#loginForm').on('submit', function(event) {
                event.preventDefault();

                const email = $('#email').val();
                const password = $('#password').val();
                const errorMessage = $('#error-message');
                errorMessage.text('');
                errorMessage.hide();

                // Create a JSON object
                const data = {
                    email: email,
                    password: password
                };

                // Send a POST request using jQuery AJAX
                $.ajax({
                    url: '/login',
                    type: 'POST',
                    contentType: 'application/json',
                    cache: false,
                    data: JSON.stringify(data),
                    success: function(data) {
                        if(data.is_admin) {
                            window.location.href = '/admin';
                        } else if (data.is_supplier) {
                            window.location.href = '/private/supplier/invitaionManagment';
                        } else {
                            window.location.href = '/';
                        }
                        localStorage.setItem('isLoggedIn', 'true');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                        errorMessage.text('Invalid login credentials. Please try again.');
                        errorMessage.show();
                    }
                });
            });
        });
    </script>
</body>
</html>

